<% include header %>
<% if(!session.user){ %>
<link rel="stylesheet" href="/css/login.css">
<% } %>
<style>
    .nothing p{
    margin: auto;
    text-align: center;
    color: darkgrey;
}
 .nothing{
    padding-top: 30px;
    padding-bottom: 30px;
}
 .nothing span.glyphicon{
    font-size: 45px;
}
</style>
<% include nav %>

<% if(!session.user){ %>
    <% include login %>
<% } %>
<div class="nothing">
        <p><a class="fa fa-list-alt"></a></p>
        <p>Nothing Here</p>
</div>
<% include footer %>