.article-tap{
    width:70%;
    margin:auto;
}
.article-tap ul{
    width:100%;
    margin:auto;
    height:20px;
    line-height:20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content:space-around;
}
.article-tap li{
    height:25px;
    float: left;
}
.article-tap li a{
    font-size:16px;
}
.article-list{
    width:70%;
    margin:auto;
    margin-top:30px;
    background: #fff;
}
.article-list .content{
    padding: 20px 20px;
    border-bottom: 1px solid #eee;
}
.article-list .content:hover{
    background: #eee;
}

.article-list .content-info span{
    position:absolute;
    bottom:0;
}

.pagination a,.pagination span{
    display: inline-block;
    width: 10%;
    margin: auto;
}
.nothing p{
    margin: auto;
    text-align: center;
    color: darkgrey;
}
 .nothing{
    padding-top: 30px;
    padding-bottom: 30px;
}
 .nothing span{
    font-size: 45px;
}