body {
    background: #f4f5f5;
    font-size: 16px;
    padding-top: 100px !important;
}

ul,
li {
    list-style: none;
}

a {
    outline: none;
}


input {
    outline: none;
}

.padmar {
    margin: 20px 0 20px 0;
    padding: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}

/*
navbar
*/
.nav-link {
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-brand .nav-link {
    display: inline-block;
    margin-right: -30px
}
/*editor table*/
table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
option{
    display: block;
    text-decoration-line: none;
text-decoration-style: solid;
text-decoration-color: currentcolor;
text-decoration-thickness: auto;
	width: 100%;
	padding: 0.25rem 1.5rem;
	clear: both;
	font-weight: 200;
	color: #212529;
	text-align: inherit;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
    border: 0;
    font-family: "Neucha", cursive;
}
.w-e-menu {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.w-e-toolbar .w-e-droplist .w-e-dp-title {
    text-align: center;
    color: #999;
    line-height: 2;
    border-bottom: 1px solid #f1f1f1;
    font-size: 13px;
}
#editor p{
    font-size: 16px;
}
table td,
table th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 3px 5px;
}

table th {
    border-bottom: 2px solid #ccc;
    text-align: center;
}

/*editor blockquote */
blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
}

/* editor code */
code {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 0 3px;
}

pre code {
    display: block;
}
/* editor ul ol */
ul,
ol {
    margin: 10px 0 10px 20px;
}

/* home nav tap */
.art-tap{
    width:90%;
    margin:auto;
}
.art-tap ul{
    width:100%;
    margin:auto;
    height:20px;
    line-height:20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content:space-around;
}
.art-tap li{
    height:25px;
    float: left;
}
.art-tap li a{
    font-size:16px;
}
.art-list{
    width:90%;
    margin:auto;
    margin-top:30px;
    background: #fff;
}
.art-list .content{
    padding: 20px 20px;
    border-bottom: 1px solid #eee;
}
.art-list .content:hover{
    background: #eee;
}

.art-list .content-info span{
    position:absolute;
    bottom:0;
}

.nothing p{
    margin: auto;
    text-align: center;
    color: darkgrey;
}
 .nothing{
    padding-top: 30px;
    padding-bottom: 30px;
}
 .nothing span{
    font-size: 45px;
}

/*footer*/
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}