.art-list{
    width:100%;
    margin:auto;
    margin-top:30px;
    background: #fff;
}
.art-list .content{
    padding: 20px 20px;
    border-bottom: 1px solid #eee;
}
.art-list .content:hover{
    background: #eee;
}
.art-list .content:last-child{
    border-bottom: 0;
}
.art-list .content .author{
    color: gray;
}
.art-list .content .times{
    color: grey;
}
.art-list .content .title{
    font-size:23px;
    margin:15px 0 15px 0;
    color: #000;
}
.art-list .content-fo{
    color: #515151;
    font-size:14px;
}
.content .post-author:hover{
    color:blue;
}
.art-list .content-fo .fa{
    display: inline-block;
    top:2px;
   line-height: 20px;
    padding-right:5px;
}

.art-list .content-fo .pv-item{
    float: right;
    font-size: 18px;
}
.art-list .content-fo .pv{
    color: lightblue;
}